<section class="faqs page-section bg-soft-primary" id="faqs">
    <h2 class="section-heading text-black container">
        Some common questions
        <br />
        were often asked
    </h2>
    <div class="questions-container container">
        <div class="row">
            <div class="questions-group col-lg-6">
                <div class="questions-item">
                    <header class="questions-header">
                        <i class="ri-add-line questions-icon"></i>
                        <h3 class="questions-item-title">My flowers are falling off or dying?</h3>
                    </header>
                    <div class="questions-content"><p class="questions-description">Plants are easy way to add color energy and transform your space but which planet is for you. Choosing the right plant.</p></div>
                </div>
                <div class="questions-item">
                    <header class="questions-header">
                        <i class="ri-add-line questions-icon"></i>
                        <h3 class="questions-item-title">What causes leaves to become pale?</h3>
                    </header>
                    <div class="questions-content"><p class="questions-description">Plants are easy way to add color energy and transform your space but which planet is for you. Choosing the right plant.</p></div>
                </div>
                <div class="questions-item">
                    <header class="questions-header">
                        <i class="ri-add-line questions-icon"></i>
                        <h3 class="questions-item-title">What causes brown crispy leaves?</h3>
                    </header>
                    <div class="questions-content"><p class="questions-description">Plants are easy way to add color energy and transform your space but which planet is for you. Choosing the right plant.</p></div>
                </div>
            </div>
            <div class="questions-group col-lg-6">
                <div class="questions-item">
                    <header class="questions-header">
                        <i class="ri-add-line questions-icon"></i>
                        <h3 class="questions-item-title">How do i choose a plant?</h3>
                    </header>
                    <div class="questions-content"><p class="questions-description">Plants are easy way to add color energy and transform your space but which planet is for you. Choosing the right plant.</p></div>
                </div>
                <div class="questions-item">
                    <header class="questions-header">
                        <i class="ri-add-line questions-icon"></i>
                        <h3 class="questions-item-title">How do I change the pots?</h3>
                    </header>
                    <div class="questions-content"><p class="questions-description">Plants are easy way to add color energy and transform your space but which planet is for you. Choosing the right plant.</p></div>
                </div>
                <div class="questions-item">
                    <header class="questions-header">
                        <i class="ri-add-line questions-icon"></i>
                        <h3 class="questions-item-title">Why are gnats flying around my plant?</h3>
                    </header>
                    <div class="questions-content"><p class="questions-description">Plants are easy way to add color energy and transform your space but which planet is for you. Choosing the right plant.</p></div>
                </div>
            </div>
        </div>
    </div>
</section>
