<div class="carousel slide carousel-fade" id="mainSlider" data-bs-ride="carousel" data-bs-touch="true">
    <div class="carousel-indicators">
        <button class="active" type="button" data-bs-target="#mainSlider" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#mainSlider" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 align-self-center">
                        <div class="slide-content">
                            <span class="badge rounded-pill bg-soft-primary text-primary mb-2 fw-normal">green</span>
                            <h2 class="title">Planty make your web-life better</h2>
                            <p class="short-desc">No other life is as pure as the plants. It is no wonder we cannot understand them.</p>
                            <div class="btn-wrap">
                                <a class="btn btn-lg btn-flex btn-primary" href="#explore">
                                    Explore
                                    <i class="ri-send-plane-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-0 order-1 order-lg-2">
                        <div class="inner-img">
                            <div class="color-circle mint-circle"></div>
                            <div class="scene" data-relative-input="true">
                                <div data-depth="0.15"><img src="assets/img/products/product11.png" alt="Inner Image" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 align-self-center">
                        <div class="slide-content">
                            <span class="badge rounded-pill bg-soft-blush text-warning mb-2 fw-normal">blush</span>
                            <h2 class="title">Finding Modern Truth in Ancient Wisdom</h2>
                            <p class="short-desc">Love and work are to people what water and sunshine are to plants.</p>
                            <div class="btn-wrap">
                                <a class="btn btn-lg btn-flex btn-primary" href="#find">
                                    Find
                                    <i class="ri-search-2-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-0 order-1 order-lg-2">
                        <div class="inner-img">
                            <div class="color-circle blush-circle"></div>
                            <div class="scene" data-relative-input="true">
                                <div data-depth="0.15"><img src="assets/img/products/product2.png" alt="Inner Image" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-1 align-self-center">
                        <div class="slide-content">
                            <span class="badge rounded-pill bg-soft-info text-info mb-2 fw-normal">mint</span>
                            <h2 class="title">Love is like a tree</h2>
                            <p class="short-desc">We are made for loving. If we don’t love, we will be like plants without water.</p>
                            <div class="btn-wrap">
                                <a class="btn btn-lg btn-flex btn-primary" href="#love">
                                    Love
                                    <i class="ri-heart-2-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-8 offset-md-2 offset-lg-0 order-1 order-lg-2">
                        <div class="inner-img">
                            <div class="color-circle dark-circle"></div>
                            <div class="scene" data-relative-input="true">
                                <div data-depth="0.15"><img src="assets/img/products/product3.png" alt="Inner Image" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mainSlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainSlider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
