<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="./">
      <img src="assets/img/navbar-logo.svg" alt="..." />
      <span>Planty</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="ri-menu-line fs-xl"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="./shop.html"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false"
            >Shop</a
          >
          <div class="dropdown-menu p-0">
            <div class="d-flex flex-wrap flex-sm-nowrap px-2">
              <div class="mega-dropdown-column pt-1 pt-lg-4 pb-4 px-2 px-lg-3">
                <div class="widget widget-links mb-4">
                  <h6 class="fs-base mb-3">Shop layouts</h6>
                  <ul class="widget-list">
                    <li class="widget-list-item">
                      <a class="widget-list-link" href="./shop.html"
                        >Shop with Left Sidebar</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="widget widget-links mb-4">
                  <h6 class="fs-base mb-3">Checkout Pages</h6>
                  <ul class="widget-list">
                    <li class="widget-list-item">
                      <a class="widget-list-link" href="./checkout-details.html"
                        >Checkout details</a
                      >
                    </li>
                    <li class="widget-list-item">
                      <a class="widget-list-link" href="./checkout-review.html"
                        >Checkout Review</a
                      >
                    </li>
                    <li class="widget-list-item">
                      <a class="widget-list-link" href="./checkout-payment.html"
                        >Checkout Payment</a
                      >
                    </li>
                    <li class="widget-list-item">
                      <a
                        class="widget-list-link"
                        href="./checkout-shipping.html"
                        >Checkout Shipping</a
                      >
                    </li>
                    <li class="widget-list-item">
                      <a
                        class="widget-list-link"
                        href="./checkout-complete.html"
                        >Checkout Complete</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div class="mega-dropdown-column pt-1 pt-lg-4 pb-4 px-2 px-lg-3">
                <div class="widget widget-links mb-4">
                  <h6 class="fs-base mb-3">Order</h6>
                  <ul class="widget-list">
                    <li class="widget-list-item">
                      <a class="widget-list-link" href="./cart.html">Cart</a>
                    </li>
                    <li class="widget-list-item">
                      <a class="widget-list-link" href="./order-tracking.html"
                        >Order tracking</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="widget widget-links mb-4">
                  <h6 class="fs-base mb-3">
                    User
                    <span class="badge bg-danger ms-1">NEW</span>
                  </h6>
                  <ul class="widget-list">
                    <li class="widget-list-item">
                      <a class="widget-list-link" href="./profile.html"
                        >Profile</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="./blog.html"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false"
            >Blog</a
          >
          <ul class="dropdown-menu">
            <li class="dropdown">
              <a
                class="dropdown-item dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                >Blog List Layouts</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="./blog-with-sidebar.html"
                    >List with Sidebar</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="./blog.html"
                    >List no Sidebar</a
                  >
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a
                class="dropdown-item dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                >Single Post Layouts</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a
                    class="dropdown-item"
                    href="./single-blog-with-sidebar.html"
                    >Article with Sidebar</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="./single-blog.html"
                    >Article no Sidebar</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./faqs.html">FAQs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
