<section class="services page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 text-center">
                <div class="scene" data-relative-input="true">
                    <div data-depth="0.35"><div class="color-square blush-square"></div></div>
                    <div data-depth="0.15"><img class="img-fluid w-75 p-5" src="assets/img/care-people.jpg" alt="..." /></div>
                </div>
            </div>
            <div class="col-lg-6 order-2 order-lg-1 p-5">
                <h2 class="section-heading text-black">Many people choose our services</h2>
                <h3 class="section-subheading text-muted">We have over 4000+ unbiased reviews and our customers trust our plant process and delivery service every time</h3>
                <div class="about-details">
                    <p class="about-details-description">
                        <i class="ri-checkbox-fill about-details-icon"></i>
                        We always deliver on time.
                    </p>
                    <p class="about-details-description">
                        <i class="ri-checkbox-fill about-details-icon"></i>
                        We give you guides to protect and care for your plants.
                    </p>
                    <p class="about-details-description">
                        <i class="ri-checkbox-fill about-details-icon"></i>
                        We always come over for a check-up after sale.
                    </p>
                    <p class="about-details-description">
                        <i class="ri-checkbox-fill about-details-icon"></i>
                        100% money back guaranteed.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
