<!--  Sidebar-->
<aside class="col-lg-4">
    <!--  Sidebar-->
    <div class="offcanvas offcanvas-collapse bg-white w-100 rounded-3 shadow-lg py-1" id="shop-sidebar" style="max-width: 22rem">
        <div class="offcanvas-header align-items-center shadow-sm">
            <h2 class="h5 mb-0">Filters</h2>
            <button class="btn-close ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body py-grid-gutter px-lg-grid-gutter">
            <!--  Categories-->
            <div class="widget widget-categories mb-4 pb-4 border-bottom">
                <h3 class="widget-title">Categories</h3>
                <div class="accordion mt-n1" id="shop-categories">
                    <!--  all-plants-->
                    <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#all-plants" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="all-plants">All Plants</a></h3>
                        <div class="accordion-collapse collapse" id="all-plants" data-bs-parent="#shop-categories">
                            <div class="accordion-body">
                                <div class="widget widget-links widget-filter">
                                    <div class="input-group input-group-sm mb-2">
                                        <input class="widget-filter-search form-control rounded-end" type="text" placeholder="Search" />
                                        <i class="ri-search-line position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
                                    </div>
                                    <ul class="widget-list widget-filter-list pt-1" style="height: 12rem" data-simplebar data-simplebar-auto-hide="false">
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">View all</span>
                                                <span class="fs-xs text-muted ms-3">1,953</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Alpines</span>
                                                <span class="fs-xs text-muted ms-3">247</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Annuals and biennials</span>
                                                <span class="fs-xs text-muted ms-3">156</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Aquatic plants</span>
                                                <span class="fs-xs text-muted ms-3">310</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Bulbs</span>
                                                <span class="fs-xs text-muted ms-3">402</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Cacti and succulents</span>
                                                <span class="fs-xs text-muted ms-3">393</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Carnivorous plants</span>
                                                <span class="fs-xs text-muted ms-3">50</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Climbers</span>
                                                <span class="fs-xs text-muted ms-3">93</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Ferns</span>
                                                <span class="fs-xs text-muted ms-3">122</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Grasses</span>
                                                <span class="fs-xs text-muted ms-3">116</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Heathers</span>
                                                <span class="fs-xs text-muted ms-3">24</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Hedges</span>
                                                <span class="fs-xs text-muted ms-3">31</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Houseplants</span>
                                                <span class="fs-xs text-muted ms-3">9</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Perennials</span>
                                                <span class="fs-xs text-muted ms-3">18</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Shrubs</span>
                                                <span class="fs-xs text-muted ms-3">69</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Trees</span>
                                                <span class="fs-xs text-muted ms-3">88</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  Outdoor-->
                    <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button" href="#outdoor" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="outdoor">Outdoor</a></h3>
                        <div class="accordion-collapse collapse show" id="outdoor" data-bs-parent="#shop-categories">
                            <div class="accordion-body">
                                <div class="widget widget-links widget-filter">
                                    <div class="input-group input-group-sm mb-2">
                                        <input class="widget-filter-search form-control rounded-end" type="text" placeholder="Search" />
                                        <i class="ri-search-line position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
                                    </div>
                                    <ul class="widget-list widget-filter-list pt-1" style="height: 12rem" data-simplebar data-simplebar-auto-hide="false">
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">View all</span>
                                                <span class="fs-xs text-muted ms-3">2,548</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Biennials</span>
                                                <span class="fs-xs text-muted ms-3">235</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Bulbs</span>
                                                <span class="fs-xs text-muted ms-3">410</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Grasses, Rushes and Sedges</span>
                                                <span class="fs-xs text-muted ms-3">107</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Tropicals</span>
                                                <span class="fs-xs text-muted ms-3">93</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Evergreens</span>
                                                <span class="fs-xs text-muted ms-3">122</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Deciduous</span>
                                                <span class="fs-xs text-muted ms-3">116</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Aquatic Plants</span>
                                                <span class="fs-xs text-muted ms-3">215</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Vines</span>
                                                <span class="fs-xs text-muted ms-3">150</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Lavender</span>
                                                <span class="fs-xs text-muted ms-3">8</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Canna Lily</span>
                                                <span class="fs-xs text-muted ms-3">26</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Begonia</span>
                                                <span class="fs-xs text-muted ms-3">164</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Herbs</span>
                                                <span class="fs-xs text-muted ms-3">147</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Rose</span>
                                                <span class="fs-xs text-muted ms-3">139</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Chrysanthemum</span>
                                                <span class="fs-xs text-muted ms-3">65</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Hydrangea</span>
                                                <span class="fs-xs text-muted ms-3">18</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  Flowers-->
                    <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#flowers" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="flowers">Flowers</a></h3>
                        <div class="accordion-collapse collapse" id="flowers" data-bs-parent="#shop-categories">
                            <div class="accordion-body">
                                <div class="widget widget-links widget-filter">
                                    <div class="input-group input-group-sm mb-2">
                                        <input class="widget-filter-search form-control rounded-end" type="text" placeholder="Search" />
                                        <i class="ri-search-line position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
                                    </div>
                                    <ul class="widget-list widget-filter-list pt-1" style="height: 12rem" data-simplebar data-simplebar-auto-hide="false">
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">View all</span>
                                                <span class="fs-xs text-muted ms-3">801</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Alstroemerias</span>
                                                <span class="fs-xs text-muted ms-3">238</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Aster</span>
                                                <span class="fs-xs text-muted ms-3">116</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Azalea</span>
                                                <span class="fs-xs text-muted ms-3">104</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Black-Eyed Susan</span>
                                                <span class="fs-xs text-muted ms-3">115</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Buttercup</span>
                                                <span class="fs-xs text-muted ms-3">17</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">California Poppy</span>
                                                <span class="fs-xs text-muted ms-3">9</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Calla Lilies</span>
                                                <span class="fs-xs text-muted ms-3">93</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Carnations</span>
                                                <span class="fs-xs text-muted ms-3">5</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Chrysanthemum</span>
                                                <span class="fs-xs text-muted ms-3">8</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Crocus</span>
                                                <span class="fs-xs text-muted ms-3">2</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Dahlias</span>
                                                <span class="fs-xs text-muted ms-3">31</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Daisies</span>
                                                <span class="fs-xs text-muted ms-3">45</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item widget-filter-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span class="widget-filter-item-text">Daffodil</span>
                                                <span class="fs-xs text-muted ms-3">18</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  Features-->
                    <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#features" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="features">Features</a></h3>
                        <div class="collapse" id="features" data-bs-parent="#shop-categories">
                            <div class="accordion-body">
                                <div class="widget widget-links">
                                    <ul class="widget-list">
                                        <li class="widget-list-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span>View all</span>
                                                <span class="fs-xs text-muted ms-3">1,842</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span>Air condition</span>
                                                <span class="fs-xs text-muted ms-3">953</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span>Fresh air</span>
                                                <span class="fs-xs text-muted ms-3">589</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span>Reduce Stress</span>
                                                <span class="fs-xs text-muted ms-3">300</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  Succulent-->
                    <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#succulents" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="succulents">Succulents</a></h3>
                        <div class="accordion-collapse collapse" id="succulents" data-bs-parent="#shop-categories">
                            <div class="accordion-body">
                                <div class="widget widget-links">
                                    <ul class="widget-list">
                                        <li class="widget-list-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span>View all</span>
                                                <span class="fs-xs text-muted ms-3">734</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span>Aeonium</span>
                                                <span class="fs-xs text-muted ms-3">572</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span>Agaves</span>
                                                <span class="fs-xs text-muted ms-3">110</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span>Aloes</span>
                                                <span class="fs-xs text-muted ms-3">34</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span>Cactus</span>
                                                <span class="fs-xs text-muted ms-3">18</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  Herb-->
                    <div class="accordion-item">
                        <h3 class="accordion-header"><a class="accordion-button collapsed" href="#herb" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="herb">Herb</a></h3>
                        <div class="accordion-collapse collapse" id="herb" data-bs-parent="#shop-categories">
                            <div class="accordion-body">
                                <div class="widget widget-links">
                                    <ul class="widget-list">
                                        <li class="widget-list-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span>View all</span>
                                                <span class="fs-xs text-muted ms-3">920</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span>Parsley</span>
                                                <span class="fs-xs text-muted ms-3">364</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span>Basil</span>
                                                <span class="fs-xs text-muted ms-3">405</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span>Rosemary</span>
                                                <span class="fs-xs text-muted ms-3">131</span>
                                            </a>
                                        </li>
                                        <li class="widget-list-item">
                                            <a class="widget-list-link d-flex justify-content-between align-items-center" href="#">
                                                <span>Thyme</span>
                                                <span class="fs-xs text-muted ms-3">20</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Price range-->
            <div class="widget mb-4 pb-4 border-bottom">
                <h3 class="widget-title">Price</h3>
                <div class="range-slider" data-start-min="250" data-start-max="680" data-min="0" data-max="1000" data-step="1">
                    <div class="range-slider-ui"></div>
                    <div class="d-flex pb-1">
                        <div class="w-50 pe-2 me-2">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text">$</span>
                                <input class="form-control range-slider-value-min" type="text" />
                            </div>
                        </div>
                        <div class="w-50 ps-2">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text">$</span>
                                <input class="form-control range-slider-value-max" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Filter by Type-->
            <div class="widget widget-filter mb-4 pb-4 border-bottom">
                <h3 class="widget-title">Type</h3>
                <div class="input-group input-group-sm mb-2">
                    <input class="widget-filter-search form-control rounded-end pe-5" type="text" placeholder="Search" />
                    <i class="ri-search-line position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
                </div>
                <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem" data-simplebar data-simplebar-auto-hide="false">
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="air" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="air">Air Plant</label>
                        </div>
                        <span class="fs-xs text-muted">425</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="aquatic" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="aquatic">Aquatic Plants</label>
                        </div>
                        <span class="fs-xs text-muted">15</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="bundle" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="bundle">Bundle</label>
                        </div>
                        <span class="fs-xs text-muted">18</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="faux" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="faux">Faux Plant</label>
                        </div>
                        <span class="fs-xs text-muted">103</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="gift" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="gift">Gifts and Decor</label>
                        </div>
                        <span class="fs-xs text-muted">27</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="easycare" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="easycare">Easy Care</label>
                        </div>
                        <span class="fs-xs text-muted">10</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="pet" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="pet">Pet Friendly</label>
                        </div>
                        <span class="fs-xs text-muted">365</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="bn" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="bn">B Nursery</label>
                        </div>
                        <span class="fs-xs text-muted">508</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="hg" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="hg">H Greenhoust</label>
                        </div>
                        <span class="fs-xs text-muted">176</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="to" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="to">TO Growers</label>
                        </div>
                        <span class="fs-xs text-muted">54</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="vv" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="vv">VV Nursery</label>
                        </div>
                        <span class="fs-xs text-muted">739</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="brightlight" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="brightlight">Bright Light</label>
                        </div>
                        <span class="fs-xs text-muted">92</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="book" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="book">Book</label>
                        </div>
                        <span class="fs-xs text-muted">17</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="fat" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="fat">Fertilizer & Treatments</label>
                        </div>
                        <span class="fs-xs text-muted">361</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="heatpack" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="heatpack">Heat Pack</label>
                        </div>
                        <span class="fs-xs text-muted">264</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="moss" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="moss">Moss</label>
                        </div>
                        <span class="fs-xs text-muted">75</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="planter" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="planter">Planter</label>
                        </div>
                        <span class="fs-xs text-muted">218</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="soap" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="soap">Soap</label>
                        </div>
                        <span class="fs-xs text-muted">810</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="catus" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="catus">Catus</label>
                        </div>
                        <span class="fs-xs text-muted">147</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="arabica" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="arabica">Arabica</label>
                        </div>
                        <span class="fs-xs text-muted">64</span>
                    </li>
                </ul>
            </div>
            <!--  Filter by Size-->
            <div class="widget widget-filter mb-4 pb-4 border-bottom">
                <h3 class="widget-title">Size</h3>
                <div class="input-group input-group-sm mb-2">
                    <input class="widget-filter-search form-control rounded-end pe-5" type="text" placeholder="Search" />
                    <i class="ri-search-line position-absolute top-50 end-0 translate-middle-y fs-sm me-3"></i>
                </div>
                <ul class="widget-list widget-filter-list list-unstyled pt-1" style="max-height: 11rem" data-simplebar data-simplebar-auto-hide="false">
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-xs" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-xs">XS</label>
                        </div>
                        <span class="fs-xs text-muted">34</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-s" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-s">S</label>
                        </div>
                        <span class="fs-xs text-muted">57</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-m" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-m">M</label>
                        </div>
                        <span class="fs-xs text-muted">198</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-l" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-l">L</label>
                        </div>
                        <span class="fs-xs text-muted">72</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-xl" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-xl">XL</label>
                        </div>
                        <span class="fs-xs text-muted">46</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-39" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-39">39</label>
                        </div>
                        <span class="fs-xs text-muted">112</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-40" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-40">40</label>
                        </div>
                        <span class="fs-xs text-muted">85</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-41" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-40">41</label>
                        </div>
                        <span class="fs-xs text-muted">210</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-42" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-42">42</label>
                        </div>
                        <span class="fs-xs text-muted">57</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-43" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-43">43</label>
                        </div>
                        <span class="fs-xs text-muted">30</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-44" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-44">44</label>
                        </div>
                        <span class="fs-xs text-muted">61</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-45" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-45">45</label>
                        </div>
                        <span class="fs-xs text-muted">23</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-46" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-46">46</label>
                        </div>
                        <span class="fs-xs text-muted">19</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-47" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-47">47</label>
                        </div>
                        <span class="fs-xs text-muted">15</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-48" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-48">48</label>
                        </div>
                        <span class="fs-xs text-muted">12</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center mb-1">
                        <div class="form-check">
                            <input class="form-check-input" id="size-49" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-49">49</label>
                        </div>
                        <span class="fs-xs text-muted">8</span>
                    </li>
                    <li class="widget-filter-item d-flex justify-content-between align-items-center">
                        <div class="form-check">
                            <input class="form-check-input" id="size-50" type="checkbox" />
                            <label class="form-check-label widget-filter-item-text" for="size-50">50</label>
                        </div>
                        <span class="fs-xs text-muted">6</span>
                    </li>
                </ul>
            </div>
            <!--  Filter by Color-->
            <div class="widget">
                <h3 class="widget-title">Color</h3>
                <div class="d-flex flex-wrap">
                    <div class="color-select mt-3 mb-3">
                        <input class="btn-check" id="shop-color1" type="radio" name="color" autocomplete="off" checked />
                        <label class="btn rounded-circle me-2" for="shop-color1" style="background-color: #ff7072"><i class="ri-check-line fs-6 fw-bold"></i></label>
                        <input class="btn-check" id="shop-color2" type="radio" name="color" autocomplete="off" />
                        <label class="btn rounded-circle me-2" for="shop-color2" style="background-color: #b3c8db"><i class="ri-check-line fs-6 fw-bold"></i></label>
                        <input class="btn-check" id="shop-color3" type="radio" name="color" autocomplete="off" />
                        <label class="btn rounded-circle me-2" for="shop-color3" style="background-color: #ca7295"><i class="ri-check-line fs-6 fw-bold"></i></label>
                        <input class="btn-check" id="shop-color4" type="radio" name="color" autocomplete="off" />
                        <label class="btn rounded-circle me-2" for="shop-color4" style="background-color: #9a8480"><i class="ri-check-line fs-6 fw-bold"></i></label>
                        <input class="btn-check" id="shop-color5" type="radio" name="color" autocomplete="off" />
                        <label class="btn rounded-circle me-2" for="shop-color5" style="background-color: #91c2c3"><i class="ri-check-line fs-6 fw-bold"></i></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
